lin-#:
  provider: saltify_linux
  script: /srv/salt/data/bootstrap-salt.sh
  ssh_host: <host-#>
  minion:
    master: <master>
  grains:
    role: <role>

win-#:
  provider: saltify_windows
  ssh_host: <host-#>
  minion:
    master: <master>
  grains:
    role: <role>